body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.full {
  width: 100vw;
  height: 100vh;
}

.details {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-family: -apple-system, serif;
  font-size: 0.9rem;
  box-shadow: 1px 2px #000;
}
