<div class="container">
  <form [formGroup]="ipForm" class="form">
    <div class="form-group">
      <label for="ip">Enter IP address below:</label>
      <input
        type="text"
        name="ip"
        class="form-control"
        id="ip"
        formControlName="ip"
        placeholder="Enter in format: X.X.X.X"
        ngModel="{{ ipGet }}"
        (ngModelChange)="ipGetAndChange($event)"
      />
      <p><small *ngIf="isFormNotValid()">Please correct field above!</small></p>
      <button
        type="submit"
        class="btn btn-outline-success btn-sm"
        (click)="getMyIP()"
      >
        Show my IP address
      </button>
      <p>
        Latitude below is based on
        <span *ngIf="!ipGet">your</span
        ><span *ngIf="ipGet">above retrieved</span> IP address
      </p>
      <input
        type="text"
        name="lat"
        class="form-control"
        formControlName="lat"
        ngModel="{{ lat }}"
      />
      <p>
        Longitude below is based on
        <span *ngIf="!ipGet">your</span
        ><span *ngIf="ipGet">above retrieved</span> IP address
      </p>
      <input
        type="text"
        name="lng"
        class="form-control"
        formControlName="lng"
        ngModel="{{ lng }}"
      />
    </div>
    <button type="submit" class="btn btn-primary" (click)="onCheck()">
      Display IP address on map
    </button>
  </form>
</div>
