.form {
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translate(-50%);
  margin: 0.5rem;
}

button {
  margin: 0.5rem 0 0 0;
}

small {
  color: #f00;
  margin-top: 0.5rem;
}

p {
  padding: 0;
  color: gray;
  font-weight: 200;
  margin: 0.5rem;
}
