footer {
  max-width: 400px;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
  line-height: 1.2rem;
  width: 50%;
}

.avatar {
  background-image: url("https://avatars.githubusercontent.com/u/36995841?s=400&u=4e732e35b2a68533e22d4963b69c526e8bff1a5f&v=4");
  background-size: cover;
}
