footer {
  font-size: 0.9rem;
  background-color: rgba(161, 190, 14, 0.5);
}
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

a {
  text-decoration: none;
}

span,
p {
  margin: 0;
  padding: 0;
}
