.ip-card {
  max-width: 400px;
  padding: 0.1rem;
  text-align: left;
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%);
  line-height: 1.3rem;
  width: 50%;
  box-shadow: 1px 1px 5px;
}

img.flag {
  padding-right: 0.25rem;
  width: 3rem;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem;
  font-weight: bolder;
}

img.icon {
  width: 1.6rem;
  height: 0.6rem;
  object-fit: cover;
}
h6 {
  font-weight: normal;
}

@media (max-width: 320px) {
  .ip-card {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .ip-card {
    width: 90%;
  }
}

@media (max-width: 601px) {
  .ip-card {
    width: 90%;
  }
}

@media (max-width: 801px) {
  .ip-card {
    width: 90%;
  }
}
