.ip-card {
  max-width: 400px;
  padding: 0.1rem;
  text-align: left;
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%);
  line-height: 1.3rem;
  width: 50%;
  box-shadow: 1px 1px 5px;
}

img.flag {
  padding-right: 0.25rem;
  width: 3rem;
}

img.icon {
  width: 2rem;
  height: 1rem;
  object-fit: cover;
}
h6 {
  font-weight: normal;
}

@media (max-width: 320px) {
  .ip-card {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .ip-card {
    width: 90%;
  }
}

@media (max-width: 601px) {
  .ip-card {
    width: 90%;
  }
}

@media (max-width: 801px) {
  .ip-card {
    width: 90%;
  }
}
