<!--<div class="details">-->
<!--  <div class="country-flag">-->
<!--    <img src="https://flagcdn.com/40x30/{{data?.country_tld?.replace('.', '')}}.png" alt="{{data?.country_name}} Flag">-->
<!--  </div>-->
<!--  <div class="ip-address">-->
<!--    {{data?.ip}}-->
<!--  </div>-->
<!--  <div class="country-name">-->
<!--    <b>{{data?.country_name}}</b>-->
<!--  </div>-->
<!--  <div class="capital">-->
<!--    Capital: {{data?.country_capital}}-->
<!--  </div>-->
<!--  <div class="region">-->
<!--    Region: {{data?.region}}-->
<!--  </div>-->
<!--  <div class="currency">-->
<!--    Currency: {{data?.currency_name}} ({{data?.currency}})-->
<!--  </div>-->
<!--  <div class="provider">-->
<!--    ISP provider: {{data?.org}}-->
<!--  </div>-->
<!--  <div class="gps">-->
<!--    GPS: {{data?.latitude}}, {{data?.longitude}}-->
<!--  </div>-->
<!--</div>-->

<mat-card class="ip-card">
  <mat-card-header>
    <div mat-card-avatar><img src="https://flagcdn.com/40x30/{{data?.country_tld?.replace('.', '')}}.png" alt="{{data?.country_name}} Flag"></div>
    <mat-card-title>{{data?.ip}}</mat-card-title>
    <mat-card-subtitle>{{data?.city}} ({{data?.country}}), capital: {{data?.country_capital}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Currency: {{data?.currency}} ({{data?.currency_name}})<br>
      ISP Provider: {{data?.org}}<br>
      GPS: {{data?.latitude}}, {{data?.longitude}}
    </p>
  </mat-card-content>
</mat-card>


