<div class="card ip-card">
  <img class="card-img" [src]="getFlag()" alt="Flag" />
  <div class="card-body">
    <h5 class="card-title">{{ data?.ip }}</h5>
    <h6>
      {{ data?.city }} ({{ data?.country_name }}, {{ data?.country }}), capital:
      {{ data?.country_capital }}
    </h6>
    <p class="card-text">
      Currency: {{ data?.currency }} ({{ data?.currency_name }})<br />
      <span *ngIf="data?.org">ISP Provider: {{ data?.org }}<br /></span>
      GPS: {{ data?.latitude }}, {{ data?.longitude }}<br />
      <img
        [src]="getWeatherIcon()"
        title="{{weather?.weather?.[0]?.description}}"
        alt="{{weather?.weather?.[0]?.description}}"
      />
      Temp: {{ weather?.main?.temp }}<sup>o</sup>C Feels like:
      {{ weather?.main?.feels_like }}<sup>o</sup>C<br />
    </p>
    <p>Local date and time: <br />{{ timezone?.formatted }}</p>
  </div>
</div>
